<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <%- include("navbar")%>

        <div class="maintain">
            <div class="content">
                <div class="img">
            
                    <% if(url.includes("mp4")){ %>
                      <img style="display: none;" src="<%=url%>" alt="">
                      <video  autoplay="" controls playsinline="" muted="" loop=""  data-index="<%=i %>"><source src="<%=url%>" type="video/mp4"></video>
                    <% } else{ %>  
                      <img src="<%=url%>" alt="">
                      <video style="display: none" src="http://localhost:3000/<%= value%>"></video>
                   <% } %>
                </div>
                <div class="textContent">
                    <div class="saveBlog">
                        <div class="icon"> 
                            <i class="fa-solid fa-ellipsis"></i>
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            <i class="fa-solid fa-paperclip"></i>
                        </div>
                        <button id="btnSave">Save</button>
                    </div>
                    <div class="tilte">
                      <%= value[0].title%>
                        
                    </div>

                    <% if(value[0].textCommet==undefined) { %>
                      <div class="comment" style="display: none">
                        <span>100 Comment</span>

                        <% for(var i=0; i < value.length; i++) { %>
                          <div class="text-comment">
                            <div class="user-comment">
                                <img src="/anh11.jpeg" alt="">
                                <span class="user"><%= value[i].userName%> </span>
                                <span ><%= value[i].textCommet%></span>
                            </div>
                            <div class="response">
                                <small>1d</small> 
                                <small>response</small> 
                                <small><i class="fa-regular fa-heart"></i>53</small> 
                                <small><i class="fa-solid fa-ellipsis"></i></small>
                            </div>
                        </div>
                       <% } %>
                       
                        
                    </div>
                    <% } else { %>
                      <div class="comment">
                        <span>100 Comment</span>

                        <% for(var i=0; i < value.length; i++) { %>
                          <div class="text-comment">
                            <div class="user-comment">
                                <img src="/anh11.jpeg" alt="">
                                <span class="user"><%= value[i].userName%> </span>
                                <span id="<%= value[i].commentID%>" class="text--comment" ><%= value[i].textCommet%></span>
                            </div>
                            <div class="response">
                                <small>1d</small> 
                                <small>response</small> 
                                <small><i class="fa-regular fa-heart" ></i> <%= value[i].like || 0 %></small> 
                                <small><i class="fa-solid fa-ellipsis"></i></small>
                            </div>
                        </div>
                       <% } %>
                       
                        
                    </div>
                    <% } %>

                    <div class="input">
                        <img src="/anh12.jpeg" alt="">
                        <input type="text" placeholder="comment" id="inputComment">
                        <button id="btnCancel">Cancel</button>
                        <button id="btnSend">Send</button>
                    </div>
                </div>
    
               
            </div>
    
            <!-- san phamlien quan  -->
            <div class="spin">
                <span>Spin Relative</span>
            </div>
            <div class="masonry">
                <div class="mItem">
                  <img src="/image/img/anh1.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh2.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh3.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh4.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh6.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh7.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh9.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh10.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh1.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh11.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh12.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh13.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh13.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh3.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh9.jpeg">
                </div>
              
                <div class="mItem">
                  <img src="/image/img/anh2.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh1.jpeg">
                </div>
              
                <div class="mItem">
                  <img src="/image/img/anh3.jpeg">
                </div>
              
                <div class="mItem">
                  <img src="/image/img/anh4.jpeg">
                </div>
                <div class="mItem">
                  <img src="/image/img/anh2.jpeg">
                </div>
              </div>
        </div>

      




</body>
<script src="/navbar.js"></script>
<script src="/details.js"></script>

</html>